---

- name: Install desktop related packages
  ansible.builtin.apt:
    name: '{{ item }}'
    autoremove: true
    clean: true
    state: present
  with_items:
    - ansible
    - firefox-esr
    - fonts-firacode
    - fonts-font-awesome
    - fonts-liberation
    - fonts-noto-core
    - fonts-noto-mono
    - fonts-open-sans
    - fonts-terminus-otb
    - git
    - kitty
    - neovim
    - pipewire
    - pipewire-audio-client-libraries
    - pulsemixer
    - sway
    - swaylock
    - tig
    - vlc
    - waybar
    - wayland-utils
    - wlsunset

- name: Create Kitty config directory
  ansible.builtin.file:
    path: /home/{{ username }}/.config/kitty
    owner: '{{ username }}'
    group: '{{ username }}'
    state: directory
    mode: "0755"

- name: Populate Kitty config
  ansible.builtin.template:
    src: kitty.conf.j2
    dest: /home/{{ username }}/.config/kitty/kitty.conf
    owner: '{{ username }}'
    group: '{{ username }}'
    mode: "0644"

- name: Create SwayWM config directory
  ansible.builtin.file:
    path: /home/{{ username }}/.config/sway
    owner: '{{ username }}'
    group: '{{ username }}'
    state: directory
    mode: "0755"

- name: Populate SwayWM config
  ansible.builtin.template:
    src: sway_config.j2
    dest: /home/{{ username }}/.config/sway/config
    owner: '{{ username }}'
    group: '{{ username }}'
    mode: "0644"
